body {
    font-family: "Sora", sans-serif;
    margin: 0;
    padding: 0;
}

.navbar-container {
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2);
    position: fixed !important;
    top: 0 !important;
    width: 100% !important;
    background: white;
    z-index: 2;
}

.navbar-brand {
    margin-left: 30px;
    margin-right: 30px;
}

.active {
    font-weight: 500;
}

.main-heading {
    padding-top: 3rem;
    text-align: center;
}

.forms {
    padding: 2rem;
    margin-top: 4rem;
}

.content {
    margin-top: 4rem;
}

.update-btn {
    margin-top: 0.5rem;
}

.tox-statusbar {
    display: none !important;
}

.tox {
    border-color: #ced4da !important;
    border-width: 0.05rem !important;
}

small,
.char-count {
    float: right;
    font-size: 0.8rem;
}
